PORT=3000
HEADLESS=true
BATCH_CONCURRENCY=2
BATCH_CONCURRENCY_MAX=10
BATCH_RESTART_EVERY=5
BATCH_RETRY_CLOSED_SESSION=true
MAX_CLOSED_SESSION_STREAK=3
MAX_JOB_CLOSED_SESSION_STREAK=8
RECORD_TIMEOUT_MS=480000
DEBUG=false
TRACE=false
SLOW=false
BLOCK_ASSETS=false
